<html>
<head>
<link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{% if session.logged_in %}
<nav>
<ul>
<li> <a href="acceuil.html"> Acceuil </a></li>
<li> <a href="specialite.html"> Specialites </a></li>
<li><a href="etudiant.html"> Etudiants </a> </li>
<li><a href="matiere.html">  Matieres </a> </li>
<li><a href="module.html"> Modules </a> </li>
<li><a href="note.html"> Notes </a> </li>
<li><a href={{url_for('logout')}} > Déconnexion</a> </li>
</ul>
</nav>
<h1> Institut Supérieur d'Informatique </h1>
<h3>
Notre application Web assure la gestion des notes </h3>
{% else %}
 <h2> <a href={{url_for('logout')}}> Veuillez vous identifier pour accéder à l'application .</a></h2>  
{% endif %}
</body>


</html>
