<html>
<body>
<form action="/etud" method = "POST">
   <p>nom <input type = "text" name = "nom" /></p>
   <p>prenom <input type = "text" name = "prenom" /></p>
   <p>cin <input type = "integer" name = "cin" /></p>
  <p>date de naissance <input type = "date" name = "dns" /></p>
   <p>tel <input type = "integer" name = "tel" /></p>
   <p>email <input type = "text" name = "email" /></p>
   <p>adresse <input type = "text" name = "adresse" /></p> 
   <p>sexe <input type = "radio" name = "sexe"  value="f"/> feminin <input type = "radio" name = "sexe"  value="m"/>  masculin</p>
   <p>Classe <input type = "radio" name = "classe" value=1 /> 1 <input type = "radio" name = "classe" value=2 /> 2 </p> 
   <p>Niveau <select name="niveau"><option value="licence"> Licence </option> <option value="master"> master</option> </select> </p> 
   <p>Specialite <select name="specialite"> <option value=1> Réseaux </option> <option value=2> dev</option> </select> </p>
   
   
   <p><input type = "submit" value = "Submit" /></p>
</form>
</body>

</html>
